/* INITIALIZERS + DEFAULTS
 * ============================== */

*, *:before, *:after {
  box-sizing: border-box;
}

@font-face {
    font-family: 'LiberationSansRegular';
    src:url('/fonts/Liberation-Sans.ttf.woff') format('woff'),
        url('/fonts/Liberation-Sans.ttf.svg#Liberation-Sans') format('svg'),
        url('/fonts/Liberation-Sans.ttf.eot'),
        url('/fonts/Liberation-Sans.ttf.eot?#iefix') format('embedded-opentype');
        font-weight: normal;
        font-style: normal;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  overflow: hidden;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

html {
  font-size: 85%;
}

body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 2px !important;
    height: 10px;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

h1 {
  font-weight: 300;
  margin: 0 0 15px;
  font-size: 3rem;
}

h5 {
  font-weight: normal !important;
  text-decoration: none !important;
}
h2 {
  font-weight: 300;
  margin: 0;
  font-size: 2rem;
}

a:active, a:focus, a {
  outline: 0;
  border: none;
  -moz-outline-style: none;
  text-decoration: none;
}

:focus {
    outline: -webkit-focus-ring-color auto 0;
}

._si {
  font-family: 'LiberationSansRegular';
  font-weight: normal;
  font-style: normal;
  font-weight: 20;
}

/* BASE APP
 * ============================== */
.react-drawer-overlay {
  z-index: 3;
}

.react-drawer-drawer {
  z-index: 4;
  background: white !important;
  overflow-y: scroll;
}
@media all and (min-width: 1501px) {
 .App {
     overflow-x: hidden;
     overflow-y: hidden;
     position: absolute;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     background-size: cover !important;
     transition: background-image 0.4s ease-in-out;
 }
}

 @media all and (max-width: 1500px) {
   .App {
       overflow-x: hidden;
       overflow-y: hidden;
       background-size: cover !important;
       position: absolute;
       left: 0;
       right: 0;
       top: 0;
       bottom: 0;
 }
}

.App__header {
  background-color: #222;
  background-image: url('https://unsplash.it/1000/300?image=823');
  background-size: cover;
  color: white;
  padding: 10px 10px;
}

.App__nav{
  width: 100%;
  list-style: none;
}

.App__customer-actions {
  float: left;
  padding: 10px;
}

.App__title {
  padding: 80px 20px;
  text-align: center;
}

.Product-wrapper {
  max-width: 900px;
  margin: 40px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App__view-cart-wrapper {
  float: right;
}

.App__view-cart {
  font-size: 15px;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
}

.default.text {
  color: black !important;
}

.popup-overlay {
  border-radius: 5px !important;
}

#header > div {
    background-color: #d3d9e054 !important;
    background-color: none;
}

.button {
  background-color: #27b3ff !important;
  color: white !important;
  border: none;
  font-size: 1.2rem;
  padding: 10px 17px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #222222;
}

.button:disabled {
  background: #bfbfbf;
  cursor: not-allowed;
}

.login {
  font-size: 1.2rem;
  color: #b8b8b8;
  cursor: pointer;
}

.login:hover {
  color: white;
}

.Flash__message-wrapper {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  bottom: 0;
  pointer-events: none;
  z-index: 227;
  left: 50%;
  transform: translateX(-50%);
}

.Flash__message {
  background: rgba(0,0,0,0.88);
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: #ffffff;
  cursor: default;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: none;
  pointer-events: auto;
  position: relative;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  padding: 10px 20px;
  margin: 0;
}

.Flash__message--open {
  display: flex;
}

/* CART
 * ============================== */
.Cart {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 335px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e5e5e5;
  transform: translateX(100%);
  transition: transform 0.15s ease-in-out;
}

.Cart--open {
  transform: translateX(0);
  background-color: #d3d9e0df !important;
  -webkit-transform: translate3d(0,0,0) !important;
}

.Cart__close {
  position: absolute;
  right: 9px;
  top: 8px;
  font-size: 35px;
  color: #999;
  border: none;
  background: transparent;
  transition: transform 100ms ease;
  cursor: pointer;
}

.Cart__header {
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
  flex: 0 0 auto;
  display: inline-block;
}

.Cart__line-items {
  flex: 1 0 auto;
  margin: 0;
  padding: 20px;
}

.Cart__footer {
  padding: 20px;
  border-top: 1px solid #e5e5e5;
  flex: 0 0 auto;
}

.Cart__checkout {
  margin-top: 20px;
  display: block;
  width: 100%;
}

.Cart-info {
  padding: 15px 20px 10px;
}

.Cart-info__total {
  float: left;
  text-transform: uppercase;
}

.Cart-info__small {
  font-size: 11px;
}

.Cart-info__pricing {
  float: right;
}

.pricing {
  margin-left: 5px;
  font-size: 16px;
  color: black;
}

/* LINE ITEMS
 * ============================== */
.Line-item {
  margin-bottom: 20px;
  overflow: hidden;
  backface-visibility: visible;
  min-height: 65px;
  position: relative;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.Line-item__img {
  width: 65px;
  height: 65px;
  border-radius: 3px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #e5e5e5;
  position: absolute;
}

.Line-item__content {
  width: 100%;
  padding-left: 75px;
}

.Line-item__content-row {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  position: relative;
}

.Line-item__variant-title {
  float: right;
  font-weight: bold;
  font-size: 11px;
  line-height: 17px;
  color: #767676;
}

.Line-item__title {
  color: #4E5665;
  font-size: 15px;
  font-weight: 400;
}

.Line-item__price {
  line-height: 23px;
  float: right;
  font-weight: bold;
  font-size: 15px;
  margin-right: 40px;
}

.Line-item__quantity-container {
  border: 1px solid #767676;
  float: left;
  border-radius: 3px;
}

.Line-item__quantity-update {
  color: #767676;
  display: block;
  float: left;
  height: 21px;
  line-height: 16px;
  font-family: monospace;
  width: 25px;
  padding: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
}

.Line-item__quantity-update-form {
  display: inline;
}

.Line-item__quantity {
  color: black;
  width: 38px;
  height: 21px;
  line-height: 23px;
  font-size: 15px;
  border: none;
  text-align: center;
  -moz-appearance: textfield;
  background: transparent;
  border-left: 1px solid #767676;
  border-right: 1px solid #767676;
  display: block;
  float: left;
  padding: 0;
  border-radius: 0;
}

.Line-item__remove {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  background: 0;
  font-size: 20px;
  top: -4px;
  opacity: 0.5;
}

.Line-item__remove:hover {
  opacity: 1;
  cursor: pointer;
}

/* PRODUCTS
 * ============================== */
.Product {
  flex: 0 1 31%;
}

.Product__title {
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  opacity: 0.7;
}

.Product__price {
  display: block;
  font-size: 1.1rem;
  opacity: 0.5;
  margin-bottom: 0.4rem;
}

.Product__option {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.Product__quantity {
  display: block;
  width: 15%;
  margin-bottom: 10px;
}

.productPriceOptions {
  font-weight: bold;
  color: #FFF;
  text-align: center;
  opacity: 1;
  font-size: 20px;
  mix-blend-mode: difference;
}

@media all and (min-width: 1041px) {
.mobileOptions {
    display: none !important;
}
.socialOptions {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 12px;
}
.productPriceOptions {
position: fixed;
bottom: 166px;
left: 0;
right: 0;
}
}

@media all and (max-width: 1040px) {
.desktopOptions {
    display: none !important;
}
.variantSelectors > div {
  display: inline !important;
}
.productPriceOptions {
  position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 9999;
}
}


.donations {
    margin-left: 10px;
    font-weight: 500;
    padding-bottom: 10px;
    font-size: 15px;
    color: #efefef;
}

/* CUSTOMER AUTH
 * ============================== */
.CustomerAuth {
  background-color: #d3d9e0df !important;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0;
  padding: 0 0 65px;
  top: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  transition: opacity 150ms;
  opacity: 1;
  visibility: visible;
  z-index: 1000;
  position: fixed;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(255, 255, 255) !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
    opacity: 0.8;
}

.CustomerAuth--open {
  display: block;
}

.CustomerAuth__close {
  position: absolute;
  right: 9px;
  top: 8px;
  font-size: 35px;
  color: #999;
  border: none;
  background: transparent;
  transition: transform 100ms ease;
  cursor: pointer;
}

.CustomerAuth__body {
  padding: 130px 30px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  position: relative;
}

.CustomerAuth__heading {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 15px;
}

.CustomerAuth__credential {
  display: block;
  position: relative;
  margin-bottom: 15px;
  border-radius: 3px;
}

.CustomerAuth__input {
  height: 60px;
  padding: 24px 10px 20px;
  border: 0px;
  font-size: 18px;
  background: #fff;
  width: 100%;
}

.CustomerAuth__submit {
  float: right;
}

.error {
  display: block;
  font-size: 15px;
  padding: 10px;
  position: relative;
  min-height: 2.64286em;
  background: #fbefee;
  color: #c23628;
}

#root > div > div:nth-child(1) > div:nth-child(1) > div > div > div {
  z-index: 7;
}

#root > div > div > div > div:nth-child(1) > div:nth-child(1) {
  overflow: hidden !important;
}

#root {
  transform: none !important;
}

.App > div {
  width: 100vw !important;
}

.App > div:nth-child(2) > div {
    width: 100vw !important;
    align-self: flex-end;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 100%;
  height: 45px;
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  -webkit-appearance: none;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input::-ms-clear {
  display: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: flex;
  position: absolute;
  top: 51px;
  width: 100%;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__section-container {
  border-top: 1px dashed #ccc;
}

.react-autosuggest__section-container--first {
  border-top: 0;
}

.react-autosuggest__section-title {
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #777;
}

.suggestion-content {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

.nav-up {
    top: -69px;
}

.actions {
  background: transparent !important;
  max-height: 250px;
}

.modal-route-backdrop {
  background: transparent !important;
}

#spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.4s ease-in-out;
}
.custom-modal {
  width: 400px;
  top: 100px;
  overflow-x: hidden;
}
@media all and (max-width: 767px) {
.rodal-dialog {
  border-radius: 8px;
}

.rodal-dialog > div {
 padding: 25px 15px 15px 15px;
 background: rgba(255,255,255,0.4);
  width: 100% !important;
  margin-top: 0 !important;
  min-height: 100vh;
}

}

@media all and (min-width: 768px) {
.rodal-dialog {
  border-radius: 0;
}

.rodal-dialog > div {
 padding: 25px 15px 15px 15px;
 background: rgba(255,255,255,0.4);
  margin-top: 0 !important;
}

}
#header > div > div:nth-child(5) {
  transform: translateY(4px);
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.Cart--open {
  overflow-y: scroll;
}

main {
    flex-grow: 1;
}

footer {
  flex-shrink: 1;
}

.drawer-handle {
  display: none !important;
}

.rodal-mask {
  background: rgba(0,0,0, 0.39) !important;
}

.alice-carousel {
  padding: 0 !important;
  width: 100vw !important;

  padding: 3px;
  padding-bottom: 0px;
}

.alice-carousel__wrapper {
  border: 0;
}

.slick-slide {
  margin-bottom: 20px;
  padding: 3px;
  padding-bottom: 0;
  padding-right: 3;
  margin-right: 3;

  box-shadow: 0px 3px 5px #333c4e;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.slick-slide:hover {
  filter: brightness(150%);
}

.alice-carousel__play-btn {
  display: none !important;
}

.ui.selection.active.dropdown {
    border-color: #d3d9e0 !important;
}

.button {
  background-color: transparent !important;
}

.ui.labeled.icon.button>.icon, .ui.labeled.icon.buttons>.button>.icon {
  background: transparent !important;
}

.ui.multiple.dropdown>.text {
    position: static;
    padding: 0;
    max-width: 100%;
    margin: .75238095em 0 .45238095em .64285714em;
    line-height: 1.21428571em;
}

._8c {
  padding-top: 0;
  padding-bottom: 0;
}

#header > div > div._0._3i._45._4x._77 > div > div {
  background-color: transparent !important;
}

#header > div > div._0._3i._45._4x._77 > div > div {
  width: 20%;
}

._0 ._3r ._2u ._7c {
  display: block;
  width: 70vw;
  max-width: 70vw;
}

._0 ._3r ._2u ._2 ._34 ._6x ._6y ._l {
  display: inline !important;
}

._5o {
    mix-blend-mode: difference;
    margin-bottom: 10px;
}

.drawer-content {
  background: transparent !important;
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  right: -62px;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 1001;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}


  .ReactModal__Content {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
  }

@media all and (max-width: 768px) {
  .ReactModal__Content {
    width: 100vw !important;
  }
}

  .ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.15);
  }

.ReactModal__Body--open {
    overflow: hidden;
}

.copyright-button {
  color: white !important;
  background: transparent !important;
  border: none !important;
  font-size: 34px;
  font-weight: bold;
}


.alice-carousel__prev-btn, .alice-carousel__next-btn {
 display: none;
}

.arrow-back {

    position: absolute;
    left: 1%;
    right: 0;
    top: 32.5%;
    width: 0px;
}

.arrow-forward {
    position: absolute;
    right: 1%;
    top: 32.5%;
}
/* Solutions */
.slick-list,
.slick-track,
.slick-slide {
   height: 100%;
}

.slide-slide {
  width: 25vw;
  height: 400px;
}


.slick-next {
  right: 25px !important;
}

.slick-prev {
  left: 25px !important;
  z-index: 8 !important;
}

.blue {
  position: absolute;
left: 0;
top: 69px;
height: 400px;
width: 100vw;
}

.react-router-modal__modal, .react-router-modal__backdrop {
  background: transparent !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
